body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(red, white, blue);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid blue;
    margin-bottom: 10px;
}

#bday-age {
    background: blue;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: blue;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-vegas {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("images/happy.gif");
}

#gift-img-sandwich:hover {
    background-image: url("images/beefsandwich.gif");
    background-size: 400px;
}

#gift-img-pawsome:hover {
    background-image: url("images/pawsome.webp");
    background-size: 400px 400px;
}

#gift-img-boots:hover {
    background-image: url("images/boots.gif");
}

#gift-img-vegas:hover {
    background-image: url("images/vegas.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}

#text-pawsome {
    color: blue;
}

/* 
Add the footer paragraph according to the design. 
Configure the anchor tag to open the link in a new tab.
Forgotten how to do it? Google it! 

Link: 
https://scrimba.com/learn/htmlandcss

Text:
Want to create your own Birthday GIFt site? Take this HTML & CSS course.
*/